.popguypagebody{
    background-color: #050231;
    height: 43.75rem;
    display: grid;
    justify-content: center;
}

.popguytext{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    height: 8.7rem;
}

.popguytext h1{
    height: fit-content;
    font-size: 2.5rem;
    margin: 0.4rem;
    border: none;
}
.popguyimagecontainer{
    height: 35rem;
    width: 80rem;;
}
#popguyimage{
    height: 33.5rem;
}